<!-------------------------------------------------------------------------------->
<!--   Artificial Neural Network (ANN) webpage                                  -->
<!-------------------------------------------------------------------------------->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>ANN</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link 
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" 
  rel="stylesheet">
  <script 
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
  ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  ></script>
  <link rel="stylesheet" href="./css/style.css">
</head>

<!-- initialise sketchpad on loading -->
<body onload="init()">

  <div class="p-5 bg-warning text-white text-center">
    <h1>Artificial Neural Network</h1>
    <p>A website for students to learn about Artificial Intelligence</p>
  </div>

  <!-- navigation between webpages -->
  <nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="./Home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./Info">Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./Quiz">Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="">ANN</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row">
      <div class="col-3">
          <a name="beginner"></a>
          <a href="#advanced" style="color:DeepSkyBlue">
            <h5>Jump to advanced section</h5>
          </a>
          <br>          
          <h2>Try out your ANN</h2>
          <br>
          Sketch a number<br>
          0, 1, 2, 3, 4, 5, 6, 7, 8 or 9 <br>
          to try out the ANN!<br>
          <br>
          Use your touchpad or mouse <br>
          holding down the mouse button
      </div>
      <div class="col-3">
          <br>
          <br>
          <canvas id="sketchpad" height="224" width="224">
          </canvas>
          <canvas id='sketchpadblank' height="224" width="224" 
                  style='display:none'></canvas>
          <!-- line breaks to position below canvas -->
          <br><br><br><br><br><br><br><br><br><br>
          <!-- form with method POST is mechanism for sending -->
          <!-- sketchpad image back to server -->
          <!-- image is grabbed using js function "getImage" & passed -->
          <!-- to server using {{sketchpad_image}} -->
          <!-- js function "store_sketch" stores image so it can be shown again -->
          <!-- when browser refreshes after user hits submit button -->
          <form method="POST" 
                style="display: inline;" 
                action="" 
                onSubmit="return getImage(canvas,ctx);">
            <input type="submit" 
                   value="Submit Number">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;           
            <input id="fake_input" 
                   type="text" 
                   style="display:none" 
                   name="sketchpad_image"
                   value={{sketchpad_image}}>
          </form>
          <!-- allow user to clear sketchpad -->
          <input type="submit" value="Clear" onclick="clearCanvas(canvas,ctx);">
          <div id="errorfield" style="color:red;font-size: 1.3em;"></div>
      </div>

      <div class="col-3">
          <br>
          <div id = "myprediction">
            <h2 style="font-size:12vw">&nbsp;&nbsp;{{parameters["indices"][0]}}</h2>
          </div>          
          <!-- prediction generated by neural network on server -->
          <!-- is passed back to html in {{prediction}} -->
          <h5 id="prediction">Artificial Neural Network</h5>
          <h5 id="prediction">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Prediction</b></h5>          
          <h5 id="prediction2"></h5>
      </div>
      <div class="col-3">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Prediction</th>
                <th scope="col">Confidence</th>
              </tr>
            </thead>
            <tbody id="tbodyid">
              <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parameters["indices"][0]}}
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parameters["values"][0]}}
                </td>
              </tr>
              <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parameters["indices"][1]}}
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parameters["values"][1]}}
                </td>
              </tr>
              <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parameters["indices"][2]}}
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parameters["values"][2]}}
                </td>
              </tr>
              <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parameters["indices"][3]}}
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parameters["values"][3]}}
                </td>
              </tr>
              <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parameters["indices"][4]}}
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parameters["values"][4]}}
                </td>
              </tr>
              <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parameters["indices"][5]}}
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parameters["values"][5]}}
                </td>
              </tr>
              <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parameters["indices"][6]}}
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parameters["values"][6]}}
                </td>
              </tr>
              <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parameters["indices"][7]}}
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parameters["values"][7]}}
                </td>
              </tr>
              <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parameters["indices"][8]}}
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parameters["values"][8]}}
                </td>
              </tr>
              <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parameters["indices"][9]}}
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parameters["values"][9]}}
                </td>
              </tr>
            </tbody>
          </table> 
      </div>                                                                
    </div>
  </div>
  <br>
  <br>
  <br>
  <br> 
  <br>
  <br>
  <br>
  <br> 
  <div class="container mt-5">
    <div class="row">
      <a name="advanced"></a>
      <a href="#beginner" style="color:DeepSkyBlue">
        <h5>Return to beginner section</h5>
      </a>
      <br> 
      <br>
      <h2>Want to investigate more?</h2>
      <h5>The Artificial Neural Network above is trained on 60,000 MNIST samples run 5 times i.e. 5 "epochs"</h5>
      <h5>Tested on 10,000 MNIST samples its accuracy is: {{parameters["test_scores"][3]}}</h5>
      <h5>Lets consider 3 further training scenarios:</h5>
      <h5>&nbsp;</h5>        
      <br>
      <div class="col-2 bg-light">            
          <h5>Trained on:</h5>
          <h5>600 samples</h5>
          <h5>1 epoch</h5>
          <br>           
          <h5>Test Performance:</h5>
          <h5>{{parameters["test_scores"][0]}} </h5>  
          <br>
          <br>
          <button onclick="toggleVisibility('scenario1')">Press to see results</button>
          <br> 
      </div> 
      <div id="scenario1" class="col-2" style="visibility:hidden">
          <h5>Prediction:</h5>  
          <h2 style="font-size:12vw">&nbsp;{{parameters["predictions"][0]}}</h2>
          <h5>Confidence:  {{parameters["confidences"][0]}} </h5>                 
      </div>  

      <div class="col-2 bg-light">   
          <h5>Trained on:</h5>
          <h5>6,000 samples</h5>
          <h5>1 epoch</h5>
          <br> 
          <h5>Test Performance:</h5>
          <h5>{{parameters["test_scores"][1]}} </h5> 
          <br>
          <br>
          <button onclick="toggleVisibility('scenario2')">Press to see results</button>
          <br> 
      </div>             
      <div id="scenario2" class="col-2" style="visibility:hidden">
          <h5>Prediction:</h5>
          <h2 style="font-size:12vw">&nbsp;{{parameters["predictions"][1]}}</h2>
          <h5>Confidence:  {{parameters["confidences"][1]}} </h5>          
      </div>  

      <div class="col-2 bg-light">     
          <h5>Trained on:</h5>
          <h5>60,000 samples</h5>
          <h5>1 epoch</h5>
          <br> 
          <h5>Test Performance:</h5>
          <h5>{{parameters["test_scores"][2]}} </h5> 
          <br>
          <br>       
          <button onclick="toggleVisibility('scenario3')">Press to see results</button>
          <br> 
      </div>
      <div id="scenario3" class="col-2" style="visibility:hidden">
            <h5>Prediction:</h5>
            <h2 style="font-size:12vw">&nbsp;{{parameters["predictions"][2]}}</h2>
            <h5>Confidence:  {{parameters["confidences"][2]}} </h5>
      </div>


    </div>
  </div>

  <!-- Scrolling -->
  <div class="mt-5 p-4 bg-info text-white text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button onclick="topFunction()" 
              class="btn btn-warning me-md-2" 
              id="myBtn" 
              type="button">Back to top</button>
    </div>
  </div>
  <script src="/js/common.js"></script>

  <!-- Sketchpad -->
  <script src="/js/sketchpad.js"></script>
  <script type="text/javascript">
    var confidence_band = "{{parameters["confidence_band"]}}";
    document.getElementById("prediction2").innerHTML = 
      "<h5>&nbsp;&nbsp;&nbsp;&nbsp;with <u>" + confidence_band + 
      "</u> Confidence  </h5>";    
  </script>

</body>

</html>